name: Deploy to Cloudflare Worker

on:
  push:
    paths:
      - "src/proxy.js"
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    name: Deploy to Cloudflare Worker
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: deploy src/proxy.js --name proxy --compatibility-date ${{ steps.date.outputs.date }}
